@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.main-section{
	height: 500px;
}
.main-section h1{
	font-family: 'Shrikhand', cursive;
	text-align: center;
	font-size: 36pt;
	margin-top: 50px;
}
.fa-plus{
	margin-right: 5px;
}
.main-table{
	margin-top: 50px;
}
.title-employee{
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 8px;
}
.title-table{
	/*margin-top: 5px;*/
	margin-bottom: 0;
	font-size: 20pt;
}
.fa-wrench{
	margin-right: 5px;
}
.icon-del{
	color: #AD2F0D;
}
.icon-edit{
	color: #437D45;
	margin-right: 10px;
}
.ng-binding{
	font-weight: 500;
}

 /*========= Modal ========*/
.modal-body input{
	width: 100%;
	padding: 5px 20px;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}
.modal-body p{
	font-weight: 600;
}
.modal-header{
	background-color: #5fb663;
	color: #fff;
	height: 90px;
}
.modal-header{
	font-size: 20pt;
	border-radius: 9px 9px 0 0;
}
.modal-content{
	border-radius: 10px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
}
#addModal{
	font-size: 20pt;
	font-weight: 600;
}
#addModal i{
	margin-right: 10px;
	font-size: 20pt;
}
.cancelModal{
	background-color: #a27862;
	color: #f2f2f2;
}
.cancelModal:hover{
	background-color: #e7a581;
}
.cancelModal .fa-ban{
	margin-right: 5px;
	color: #f2f2f2;
}
.saveModal{
	background-color: #0030aa;
	color: #f2f2f2;
}
.saveModal:hover{
	background-color: #02206b;
}
.saveModal .fa-check{
	margin-right: 5px;
}
.pull-right button{
	margin-bottom: 5px;
}
.btn-edit{
	background-color: #1EB201;
	/*opacity: .95;*/
	color: #f2f2f2;
}
.btn-edit:hover{
	background-color: #168001;
}
.btn-edit .fa-pencil{
	margin-right: 5px;
}
.deteleEmploy{
	margin-right: 10px;
}
.modalTimes{
	margin-right: 5px;
}
a{
	cursor: pointer;
}
td:hover{
	cursor: pointer;
}

.active, .active:hover{
	background-color: #337ab7;
	color: #fff;
}
