<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="public/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/styles.css">

	<script src="public/js/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="public/js/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/app/app.js"></script>
	<script src="public/app/controller/employees.js"></script>
	
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	
	<div class="container">
		<div class="main-section">
			<h1>Employee Management</h1>
			<div class="main-table">
				<table class="table table-hover">
					<thead>
						<div class="title-employee clearfix">
							<div class="pull-left">
								<p class="title-table"><i style="font-size: 16pt;">Employee</i><strong>List</strong></p>
							</div>
							<div class="pull-right">
							<!-- btn add -->
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i>Add Employe</button>
							</div>
						</div>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Contact Number</th>
							<th>Position</th>
							<th><i class="fa fa-wrench" aria-hidden="true"></i>Action</th>
						</tr>
					</thead>
					<tbody>
						
						<tr ng-repeat="information in informations track by $index">
							<td ng-click="showDetail(information.id)" data-target="#myShowDetail" data-toggle="modal">{{information.id}}</td>
							<td ng-click="showDetail(information.id)" data-target="#myShowDetail" data-toggle="modal">{{information.name}}</td>
							<td ng-click="showDetail(information.id)" data-target="#myShowDetail" data-toggle="modal">{{information.email}}</td>
							<td ng-click="showDetail(information.id)" data-target="#myShowDetail" data-toggle="modal">{{information.contact_number}}</td>
							<td ng-click="showDetail(information.id)" data-target="#myShowDetail" data-toggle="modal">{{information.position}}</td>
							<td>
								<span class="icon-edit" data-toggle="modal" ng-click="editData(information.id)"><a><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></span>
								<span class="icon-del" data-toggle="modal" ng-click="getIdDel(information.id)"><a><i class="fa fa-times" aria-hidden="true"></i> Delete</a></span>
							</td>

						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
			<!-- pagination -->

			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
				    <li class="page-item">
				      	<a class="page-link" href='' aria-label="Previous"  ng-disabled="currentPage == 0" ng-click="prevPageData()">

				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      	</a>
				    </li>
				    
					
					<div pagination-num>
					
					</div>
				    
				     <li class='page-item item-next'><a class='page-link' href='' aria-label='Next' ng-click='nextPageData()'><span aria-hidden='true'>&raquo;</span></a></li>
				        
				      	
				    
				</ul>

			</nav>
			
 			
		<!-- pagination -->	

	</div>



	<!-- Modal add -->
	<form name="modalAdd">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<!-- data-backdrop="static": khong cho ng dung click ra ngoai modal
			 data-keyboard="false": khong cho ng dung bam esc de thoat modal -->
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="addModal"><i class="fa fa-plus" aria-hidden="true"></i>Add New Employee</h5>
		        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
		          <!-- <span aria-hidden="true">&times;</span> -->
		        <!-- </button> -->
		      </div>
		      <div class="modal-body">
		        <p>Name: <br>
		        <input type="text" name="yourName" id="yourName" ng-model="yourName" placeholder="Enter your name" ng-maxlength="50" required>
		        <span ng-if="modalAdd.yourName.$error.maxlength">Length must be less than or equal to 50</span>
		        <span ng-show="modalAdd.yourName.$touched && modalAdd.yourName.$error.required">Name is required</span>
		        </p>
		        <p>Email: <br>
		        <input type="email" name="email" id="email" ng-model="email" placeholder="Enter your email" required>
		        <span ng-show="modalAdd.email.$error.email">Email format is wrong</span>
		        <span ng-if="modalAdd.email.$error.required && modalAdd.email.$touched">Email is required</span>

		        </p>
		        <p>Contact Number: <br>
		        <input type="text" name="phone" id="phone" ng-model="phone" placeholder="Enter your Contact Number" ng-pattern="/^-?[0-9][^\.]*$/" required>
		        <span ng-show="modalAdd.phone.$error.pattern">Contact number contains numeric only</span>
		        <span ng-show="modalAdd.phone.$touched && modalAdd.phone.$error.required">Contact number is required</span>
		        </p>
		        <p>Position: <br>
		        <input type="text" name="yourPosition" id="yourPostion" ng-model="yourPosition" placeholder="Enter your position" ng-maxlength="60" required>
		        <span ng-if="modalAdd.yourPosition.$error.maxlength">Length must be less than or equal to 60</span>
		        <span ng-show="modalAdd.yourPosition.$touched && modalAdd.yourPosition.$error.required">Position is required</span>
		        </p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
		        <button type="button" class="btn saveModal" ng-click="addEmploy()"><i class="fa fa-check" aria-hidden="true" ></i>Save</button>
		      </div>
		    </div>
		  </div>
		</div>
	</form>
			<!-- Modal add-->

		<!-- Modal edit -->
	<form name="modalEditForm">
		<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<!-- data-backdrop="static": khong cho ng dung click ra ngoai modal
			 data-keyboard="false": khong cho ng dung bam esc de thoat modal -->
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="addModal"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Employee</h5>
		        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button> -->
		      </div>
		      <div class="modal-body">
		        <p>Name: <br>
		        <input type="text" name="yourName" id="yourName" ng-model="informationDetails.name" ng-maxlength="50" required>
		        <span ng-show="modalEditForm.yourName.$dirty && modalEditForm.yourName.$invalid">
			        <span ng-if="modalEditForm.yourName.$error.maxlength">Length must be less than or equal to 50</span>
			        <span ng-show="modalEditForm.yourName.$error.required">Name is required</span>
		        </span>
		        </p>
		        <p>Email: <br>
		        <input type="email" name="email" id="email" ng-model="informationDetails.email" required>
		        <span ng-show="modalEditForm.email.$dirty && modalEditForm.email.$invalid">
		        	<span ng-show="modalEditForm.email.$error.email">Email format is wrong</span>
		        	<span ng-if="modalEditForm.email.$error.required && modalAdd.email.$touched">Email is required</span>
		        </span>
		        </p>
		        <p>Contact Number: <br>
		        <input type="text" name="phone" id="phone" ng-model="informationDetails.contact_number" ng-pattern="/^-?[0-9][^\.]*$/" required>
		        <span ng-show="modalEditForm.phone.$dirty && modalEditForm.phone.$invalid">
		        	<span ng-show="modalEditForm.phone.$error.pattern">Contact number contains numeric only</span>
		        	<span ng-show="modalEditForm.phone.$touched && modalEditForm.phone.$error.required">Contact number is required</span>
		    	</span>
		        </p>
		        <p>Position: <br>
		        <input type="text" name="yourPosition" ng-model="informationDetails.position" id="yourPosition" ng-maxlength="60" required>
		        <span ng-show="modalEditForm.yourPosition.$dirty && modalEditForm.yourPosition.$invalid">
		        	<span ng-if="modalEditForm.yourPosition.$error.maxlength">Length must be less than or equal to 60</span>
		        	<span ng-show="modalEditForm.yourPosition.$touched && modalEditForm.yourPosition.$error.required">Position is required</span>
		   	 	</span>
		        </p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
		        <button type="button" class="btn saveModal" ng-click="saveEdit(informationDetails.id)"><i class="fa fa-check" aria-hidden="true"></i>Save</button>
		      </div>
		    </div>
		  </div>
		</div>
	</form>
			<!-- Modal edit-->

			<!-- modal delete -->
			<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" ng-repeat="information in informations track by $index">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Delete</h5>
			      </div>
			      <div class="modal-body">
			        Bạn có muốn xóa?
			      </div>
			      <div class="modal-footer">
			        <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
			        <button type="button" class="btn saveModal" ng-click="deleteEmployees(information.id)"><i class="fa fa-times modalTimes" aria-hidden="true"></i>Delete</button>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- modal delete -->

			<!-- show detail -->
			<form name="modalEdit">
					<div class="modal fade" id="myShowDetail" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
					<!-- data-backdrop="static": khong cho ng dung click ra ngoai modal
						 data-keyboard="false": khong cho ng dung bam esc de thoat modal -->
					  <div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="addModal"><i class="fa fa-pencil" aria-hidden="true"></i>Edit New Employee</h5>
					        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button> -->
					      </div>
					      <div class="modal-body">
					        <p>Name:
					        <span name="yourName" id="yourName" ng-bind="informationDetails.name"></span>
					        
					        </p>
					        <p>Email: <span ng-bind="informationDetails.email"></span>
					        
					        </p>
					        <p>Contact Number: <span ng-bind="informationDetails.contact_number"></span>
					        
					        </p>
					        <p>Position: <span ng-bind="informationDetails.position"></span>
					        
					        </p>

					      </div>
					      <div class="modal-footer">
					        <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
					      </div>
					    </div>
					  </div>
					</div>
				</form>
			<!-- show detail -->

			<!-- show connect error -->
			<div class="modal fade" id="modalConnect" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">ERROR</h5>
			      </div>
			      <div class="modal-body">
			        	Can not display data
			      </div>
			      <div class="modal-footer">
			        <!-- <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button> -->
			        <button type="button" class="btn saveModal" data-dismiss="modal"><i class="fa fa-times modalTimes" aria-hidden="true"></i>OK</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- show connect error -->
			
			<!-- update error -->
			<div class="modal fade" id="modalUpdateError" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">UPDATE ERROR</h5>
			      </div>
			      <div class="modal-body">
			        	Update fail
			      </div>
			      <div class="modal-footer">
			        <!-- <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button> -->
			        <button type="button" class="btn saveModal" data-dismiss="modal"><i class="fa fa-times modalTimes" aria-hidden="true"></i>OK</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- update error -->

			<!-- delete error -->
			<div class="modal fade" id="modalCreateError" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">CREATE ERROR</h5>
			      </div>
			      <div class="modal-body">
			        	Create fail
			      </div>
			      <div class="modal-footer">
			        <!-- <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button> -->
			        <button type="button" class="btn saveModal" data-dismiss="modal"><i class="fa fa-times modalTimes" aria-hidden="true"></i>OK</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- delete error -->


	
</body>
</html>